
*{
    margin: 0;
    padding: 0;
}body{
    color:#fff;
    background: #eee;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
.clearFix::after{
    content: '';
    display:block;
    clear: both;
}
.topNavBar{
    position: fixed;
    width: 100%;  
}
.inner-topNavBar{
    padding:20px 16px;
}
.topNavBar .logo{
    float: left;
    padding: 3px 0px 4px;
    font: 24px 'Arial Black';
}
.topNavBar .logo>.rs{
    color: #E6686A;
    margin-right: 4px;
}
.topNavBar .logo>.card{
    color: #9A9DA2;
}
.topNavBar nav{
    float: right;
    padding-top: 7px;
}
.topNavBar nav li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav li>a{
    display: block;
    padding: 5px 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-size: 12px;
    font-weight: bold;
    color: #B7B7B7;
}
.topNavBar nav li:hover>a{
    border-bottom:3px solid #e06567;
}
.banner{
    height: 515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center;
    background-size: cover;
}
.banner>.mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8)
}
.user-card{
    margin: 0 auto;
    margin-top: -340px;
    max-width: 940px;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.user-card>.pic-and-text{
    padding: 50px;
}
.user-card .pic{
    float: left;
}
.user-card .text{
    float: right;
    width: 470px;
}
.user-card .text>.welcome{
    display: inline-block;
    position: relative;
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    margin-bottom: 10px;
}
.user-card .text>.welcome::after{
    display:block;
    content:"";
    position: absolute;
    bottom: -10px;
    left: 5px;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent transparent #e6686a;
    border-style: solid;
}
hr{
    margin: 20px 0;
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
.user-card .text>h1{
    margin-top: 18px;
}
.user-card dl dt, .user-card dl dd {
    float: left;
    padding: 5px 0;
}
.user-card dl dt {
    width: 30%;
    font-weight: bold;
}
.user-card dl dd {
    width: 70%;
    color: #9da0a7;
}
.user-card>.media {
    background: #e6686a;
    text-align: center;
}
.user-card>.media>a {
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    border-radius: 50%;
    margin: 16px;
}
.user-card svg {
    width: 30px;
    height: 30px;
    fill:#fff;
    vertical-align:top;
}
.user-card>.media>a:hover {
    background-color:#cf5d5f;
}
main .downloadResume-wrapper{
    text-align: center;
}
main .downloadResume-wrapper>.downloadResume{
    display: inline-block;
    margin: 32px auto;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    line-height: 16px;
    color: #3d4451;
    font-weight: bold;
    background: #efefef;
    transition: box-shadow 0.2s;
}
main .downloadResume-wrapper>.downloadResume:hover{
    box-shadow:0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
main .self-intro{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000;
    font-family: cursive;
    line-height: 1.8;
    font-size: 18px;
}
.skills,.portfolio
{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    color: #000;
}
.skills h2,.portfolio h2{
    text-align: center;
    font-weight: bold;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
}
.skills h3 {
    font-size: 14px;
    line-height: 25px;
    padding-right: 40px;
}
.skills ol{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 50px 42px;
    padding-bottom: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.skills ol>li{
    width: 45%;
    margin-bottom: 40px;
}
.skills ol li:nth-child(odd){
    float: left;
}
.skills ol li:nth-child(even){
    float: right;
}
.skills .progress-bar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
}
.skills .progress-bar>.progress{
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}
.portfolio{
    text-align: center;
    margin-bottom: 80px;
}
.portfolio nav{
    display: inline-block;
    margin-top: 32px;
}
.portfolio nav>ol{
    display: inline-block;
    vertical-align: top;
}
.portfolio nav>ol>li{
    float: left;
    cursor: pointer;
}
.portfolio nav>ol>li:not(:nth-child(1)){
    margin-left: 40px;
}
.portfolioBar{
    position: relative;
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}
.portfolioBar>#bar-inner{
    position: absolute;
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
  }
  .portfolioBar>#bar-inner.state-1{
    left: 0%;
    width: 40px;
  }
  .portfolioBar>#bar-inner.state-2{
    left:28%;
    width: 50px;
  }
  .portfolioBar>#bar-inner.state-3{
    left: 62%;
    width: 90px;
  }
  .portfolio .works{
    position: relative;
  }
  .portfolio .works > .big,
  .portfolio .works > .small {
    position: absolute;
  }