*{margin:0;padding:0}
body{background:#eee}
a{text-decoration:none}
ol,ul{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:400}
.clearFix::after{content:"";display:block;clear:both}
.topNavBar{position:fixed;width:100%;color:#b7b7b7;transition:background .2s linear}
.inner-topNavBar{padding:20px 16px;transition:all .5s linear};
.topNavBar .logo{float:left;font:24px "Arial Black"}
.topNavBar .logo>.rs{color:#e6686a;margin-right:4px;font:24px "Arial Black"}
.topNavBar .logo>.card{color:#9a9da2;font:24px "Arial Black"}
.topNavBar nav{float: right}
.topNavBar nav .clearFix>li{float:left;margin-left:17px;margin-right:17px;position: relative;}
.topNavBar nav li>a{position: relative;display:block;padding:5px 0;border-top:3px solid transparent;color:inherit;border-bottom:3px solid transparent ;font-size:12px;font-weight:700}
/* .topNavBar nav li:hover>a{border-bottom:3px solid #e06567} */
.banner{height:515px;background-image:url(img/rs-cover.jpg);background-position:center;background-size:cover}
.banner>.mask{height:515px;background-color:rgba(0,0,0,.8)}
.user-card{margin:0 auto;margin-top:-340px;max-width:940px;color:#000;background-color:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,.5)}
.user-card>.pic-and-text{padding:50px}
.user-card .pic{float:left}
.user-card .text{float:right;width:470px}
.user-card .text>.welcome{display:inline-block;position:relative;background:#e6686a;color:#fff;padding:4px 16px;margin-bottom:10px}
.user-card .text>.welcome::after{display:block;content:"";position:absolute;bottom:-10px;left:5px;border-width:0 10px 10px 10px;border-color:transparent transparent transparent #e6686a;border-style:solid}
hr{margin:20px 0;height:0;border:none;border-top:1px solid #dedede}
.user-card .text>h1{margin-top:18px}
.user-card dl dd,.user-card dl dt{float:left;padding:5px 0}
.user-card dl dt{width:30%;font-weight:700}
.user-card dl dd{width:70%;color:#9da0a7}
.user-card>.media{background:#e6686a;text-align:center}
.user-card>.media>a{display:inline-block;width:40px;padding:5px 0;line-height:30px;border-radius:50%;margin:16px}
.user-card svg{width:30px;height:30px;fill:#fff;vertical-align:top}
.user-card>.media>a:hover{background-color:#cf5d5f}
main .downloadResume-wrapper{text-align:center}
main .downloadResume-wrapper>.downloadResume{display:inline-block;margin:32px auto;padding:21px 55px;border:1px solid #cdcfd1;border-radius:2px;line-height:16px;color:#3d4451;font-weight:700;background:#efefef;transition:box-shadow .2s}
main .downloadResume-wrapper>.downloadResume:hover{box-shadow:0 4px 13px 0 rgba(0,0,0,.2)}
main .self-intro{max-width:940px;margin-left:auto;margin-right:auto;text-align:center;color:#000;font-family:cursive;line-height:1.8;font-size:18px}
.portfolio,.skills{max-width:940px;margin:0 auto;margin-top:60px;color:#000}
.portfolio h2,.skills h2{text-align:center;font-weight:700;color:#3d4451;font-size:34px;line-height:1.2}
.skills h3{font-size:14px;line-height:25px;padding-right:40px}
.skills ol{box-shadow:0 1px 5px 0 rgba(0,0,0,.5);padding:50px 42px;padding-bottom:10px;margin-top:30px;background-color:#fff}
.skills ol>li{width:45%;margin-bottom:40px}
.skills ol li:nth-child(odd){float:left}
.skills ol li:nth-child(even){float:right}
.skills .progress-bar{height:5px;background:#fae1e1;border-radius:2px}
.skills .progress-bar>.progress{height:100%;background:#e6686a;width:70%;border-radius:2px;transition: all 1.5s ease-in;transform: scaleX(1);transform-origin: 0 0}
.portfolio{text-align:center;margin-bottom:80px;}
.portfolio nav{display:inline-block;margin-top:32px}
.portfolio nav>ol{display:inline-block;vertical-align:top}
.portfolio nav>ol>li{float:left;cursor:pointer}
.portfolio nav>ol>li:not(:nth-child(1)){margin-left:40px}
.portfolioBar{position:relative;height:5px;background:#fff;margin-top:5px;margin-bottom:28px;border-radius:2px}
.portfolioBar>#bar-inner{position:absolute;height:100%;background:#e6686a;border-radius:2px;transition:all .3s}
.portfolioBar>#bar-inner.state-1{left:0;width:40px}
.portfolioBar>#bar-inner.state-2{left:28%;width:50px}
.portfolioBar>#bar-inner.state-3{left:62%;width:90px}
.portfolio .works{position:relative}
.portfolio .works>.big,.portfolio .works>.small{position:absolute}
.loading{
    display: none;
}
.loading.loading-start{
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-color: #9da0a7;
    z-index: 1;
}
.loading::before,.loading::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: loading 1.5s ease-in infinite;
}
.loading::after{
    animation-delay: 0.8s
}
@keyframes loading {
    0%{ width: 0;
        height: 0;
        background-color:#0f0f0f;
    }
    100%{
        width: 70px;
        height: 70px;
        background-color:#0f0f0f00;
    }
}
.topNavBar.sticky{
    box-shadow: 0 0 10px rgb(54, 53, 53);
    border:none;
}
.sticky{
    background-color:#fff;
    color:#252527;
   border: 1px solid rgb(128, 124, 124);
    z-index: 2;
    
}
.topNavBar nav li.menu-active>a::after{/*给导航菜单的所有a标签都加上特效*/
    content: "";
    display: block;
    position: absolute;
    left:0;
    top:100%;
    width: 100%;
    height: 3px;
    background-color:#e06567;
    animation: menuslide .2s linear
}
@keyframes menuslide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar nav li.menu-active .subMenu{
    display: block;
    animation: subMenuSlide .15s ease-in
}
@keyframes  subMenuSlide{
    0%{
       right: 100%;
    }
    100%{
        right: 0;
    }
}
.topNavBar nav li .subMenu{
    position: absolute;
    right: 0; 
    white-space: nowrap;
    display: none;
}
.topNavBar nav .subMenu>li{
    padding: 3px 13px;
}
.topNavBar nav ul.clearFix>li.highlight>a::after { 
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
  }
  [data-x].offset{
      transform: translateY(60px)
  }
  [data-x]{
    transform: translateY(0);
    transition: all .5s;
  }
.skills.offset .progress-bar>.progress{
   transform: scaleX(0);
  }

