.carousel{
    margin: 30px auto;
    max-width: 800px;
}
.carousel .panels{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 422px;
}
.carousel .panels>a{
    position: absolute;
    width: 100%;
    height: 100%;
    /*object-fit: cover;让a标签内的img图片无论如何都会占满父容器，但可能会丢失部分图片（图片过大时）效果与.carousel .panels>a img{
        height: 100%;
         width: 100%;
    }类似，但100%方法的图片只会拉伸变形而不会丢失*/
}
.carousel .panels>a:first-child{/*默认让第一张图片显示出来*/
    z-index: 1;
}
.carousel .panels>a img{
    height: 100%;
     width: 100%;
}

.carousel .action{
    display: flex;
}
.carousel .action>.dots{
    order: 2;
    flex: 1;
    text-align: center;
}
.carousel .action>.dots span{
    display:inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carousel .action>.dots span.active{
    width: 10px;
    height: 10px;
    background:  #000;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.459);
}

.carousel .action>.pre{
    order: 1;
    cursor: pointer;
}
.carousel .action>.next{
    order: 3;
    cursor: pointer;
}